/* You can add global styles to this file, and also import other style files */
.colorprimary{
    background: -webkit-radial-gradient(center center, circle ,#000000, #ffde03)
}
.colorsecundary{
    background:linear-gradient(to left,#0336ff,#000000)
}
.colortercery{
    
    background-color: #ff0266
}
.colorfourty{
    background:-webkit-linear-gradient(top,rgba(2, 27, 51, 0.952), rgb(4, 18, 145));
    
}
.letrallamativa{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    color: rgba(255, 255, 255, 0.849)
    
}
.letraregular{
    font-family: cursive;
    font-size: x-large;
    color: #000000
    
}
.colorbasico{
    background: #060752
}
.central{
    margin-top: -100px;
    margin-left: 50px
}

.btn-start {
    position: fixed;
    z-index: 2500;
    margin-top: -175px;
    margin-left: 45%;
}